body{
    background: white;
    display: none;
}
@media only screen and (max-width: 480px) {
    body   {  
        display: block;
        color: grey; 
        background:white;
    }
    .content-container{
        text-align: center;
        font-size: 16px;
    }
    #page2{
        display: none;  
    }
    #page3{
        display: none;  
    }
    #page4{
        display: none;  
    }
    #page5{
        display: none;  
    }
    button{
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
    }
    #countdown-content, #end-content{
        margin-top: 50%;
    }
    
    /* Surveypage css */
    .question-label{
        margin-top: 5%;
    }
    .option-label{
        display: inline-block;
        text-align: center;
    }
    .answer-label{
        font-size: 12px;
    }
    .validate-text{
        color: red;
        font-size: 10px;
    }
    .text-input{
        color: grey; 
        text-align: center;
    }
    #exstart-cont{
        position: absolute;
        bottom: 0px;
    }

    /* Experimentpage css */
    .iconmatrix{
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width:350px;
    }
    .smatrixicon{
        margin: 5px;
        border-radius: 10px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
    }
    .fmatrixicon{
        margin: 5px;
        border: 2px solid lightgrey;
        border-radius: 10px;
    }
    img{
        margin: 5px;
    }
    #textfield {
        font-size: 18px;
        text-align: center;
        max-width: 350px;
    }
    #flatdesign-content{
        display: none;
    }
    #skeumorph-content{
        display: block;
    }
    #wrongmessage{
        font-size: 10px;
        text-align: center;
        max-width: 350px;
        color: red;
    }
}
